:root {
  /* DARK SCHEME */
  --color-primary: #82d3e2;
  --color-on-primary: #00363d;
  --color-inverse-primary: #004f5d;

  --color-secondary: #c8e1e8;
  --color-on-secondary: #11292f;

  --color-tertiary: #d5daff;
  --color-on-tertiary: #1d2442;

  --color-primary-container: #4b9bae;
  --color-on-primary-container: #000000;

  --color-secondary-container: #7d959c;
  --color-on-secondary-container: #000000;

  --color-tertiary-container: #888fb3;
  --color-on-tertiary-container: #000000;

  --color-error: #ffd2cc;
  --color-on-error: #540003;
  --color-error-container: #ff5449;
  --color-on-error-container: #000000;

  --color-surface: #0f1416;
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #d5dee1;
  --color-surface-bright: #404547;
  --color-surface-container: #1b2122;

  --color-inverse-surface: #dee3e5;
  --color-inverse-on-surface: #252b2d;

  --color-outline: #aab3b6;
  --color-outline-variant: #899295;
}

html.light-theme {
  --color-primary: #003c47;
  --color-on-primary: #ffffff;
  --color-inverse-primary: #84d2e6;

  --color-secondary: #233a40;
  --color-on-secondary: #ffffff;

  --color-tertiary: #2e3453;
  --color-on-tertiary: #ffffff;

  --color-primary-container: #1d7789;
  --color-on-primary-container: #ffffff;

  --color-secondary-container: #7d959c;
  --color-on-secondary-container: #ffffff;

  --color-tertiary-container: #888fb3;
  --color-on-tertiary-container: #ffffff;

  --color-error: #740006;
  --color-on-error: #ffffff;
  --color-error-container: #cf2c27;
  --color-on-error-container: #ffffff;

  --color-surface: #c2c7c9;
  --color-on-surface: #0c1214;
  --color-on-surface-variant: #2f383a;
  --color-surface-bright: #f5fafc;

  --color-inverse-surface: #2c3133;
  --color-inverse-on-surface: #ecf2f4;

  --color-outline: #4b5457;
  --color-outline-variant: #666f71;
}

html {
  transition: background-color 0.3s, color 0.3s;
}
